/* Style rules for Ridgevale Primary School website
Author: Oageng Moikabi */

/* style rules for the header elements */
/* style rules for Ridgevale Primary School emblem positioning */
.emblem {
	float: left;
	padding-left: 10px;
}

/*style rules for school name and background (positioning) */
.organization {
	margin-top: -9px;
	margin-left: 20%;
	margin-right: -0.6%;
	background-color: #05418f;
}

/* style rules for font and text properties of header h1 (school name)*/
header h1 {
	font-family: sans;
	font-size: 350%;
	line-height: 273%;
	letter-spacing: 0.25em;
	color: white;
	text-align: center;
	white-space: nowrap;
	padding-left: 4%;
}

/* style rules for nav2 of all pages (navigation below school name) */
nav#nav2 ul{
	background-color: #03AE8A;
	margin-top: -37.5px;
	margin-left: 20%;
	margin-right: -0.6%; /*-8px;*/
	white-space: nowrap;
}

nav#nav2 li{
	display: inline;
	list-style-type: none;
	margin-left: 8.5%;
}

/* style rules for nav2 text */
nav#nav2 a{
	font-family: sans;
	font-size: 145%;
	text-decoration: none;
	color: white;
	line-height: 370%;
}

nav#nav2 a:hover{
	font-weight: 800;
}

/* style rule to match background colour of school emblem*/
body {
	background-color: #fcfcfc; /*green;*/
}

.current {
	border-bottom: solid thin white;
}

a.top {
	float: right;
	transition: all .15s ease-in-out;
	position: fixed;
	color: white;
	font-size: 220%;
	padding-top: 2px;
	text-decoration: none;
	text-align: center;
	background-color:  #05418f;
	border: solid 3px black;	
	width: 4%;
	height: auto;
	border-radius: 10px 10px 25px 3px;
	visibility: visible;
	opacity: 1;
	left: 95%;
	top: 84%;
}

a.top:hover {
	background-color: #03AE8A;
	color: white;
	border: white;
}

.hide {
  visibility: hidden;
  opacity: 0;
}


/* style rules for the article section of home page */
article#homeinfo {
	float: right;
	width: 78%;
	margin-bottom: 50px;
}

article {
	float: right; 
	width: 79%;
}

article#aboutus h1.about {
	font-family: Trebuchet MS;
	font-size: 200%;
	letter-spacing: 2px;
	word-spacing: 2px;
}

article#aboutus p {
	font-family: arial;
	color: #585858;
	line-height: 145%;
	font-size: 100%;
	margin-right: 5%;
}

/* style rules for the heading below the slideshow (vision) */
article#homeinfo h2 {
	float: left;
	color: black;
	font-family: Georgia;
	margin-left: 1.6%;
	font-size: 180%;
	letter-spacing: 1px;
}

/* style rules for the paragraph elements of the home page (vision - desc ) */
article#homeinfo p {
	margin-left: 1.6%;
	font-family: arial;
	clear: left;
	line-height: 160%;
	font-size: 111%;
}

/* style rules to control size and position of 'eye-symbol' on home page */
.visionIcon {
	float: left;
	font-size: 280%;
	margin-top: 6px;
	margin-left: 10px;
}

/* style rules for the mission section of the home page */
div.background {
	width: 100%;
}

div.missionbox {
	width: 100%;
}

div.missionbox p {
	font-size: 130%;
	font-weight: 600;
	word-spacing: 3px;
	font-style: italic;
}

div.missionbox ul {
	margin-top: 30px;
}

div.missionbox ul li {
	font-size: 106%;
	margin-top: 15px;
	font-weight: 600;
}

div.staff h2 {
	color: #3d0c02;
	text-align: center;
	font-size: 230%;
	border-bottom: solid 2px #3d0c02;
	margin-left: 19%;
	margin-right: 19%;
	padding-bottom: 2%;
}

div.staff h3 {
	color: #3d0c02;
	text-align: center;
	font-size: 230%;
	border-bottom: solid 2px #3d0c02;
	margin-left: 19%;
	margin-right: 19%;
	margin-top: 12%;
	padding-bottom: 3%;
}

.staff-image-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  max-width: 95%;
}

.staff-image-list li {
  display: inline-block;
  width: 16%;
  margin: 5% 2.8%;
}

.staff-image-list li img{
    width: 100%; /* To make the images responsive */
    height: auto;
}

.staff-image-list .details {
  margin-top: 12%;
}

.staff-image-list .details h3 {
  display: block;
  font-size: 100%;
  margin: 0 0 6% 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.staff-image-list .details .name {
  display: block;
  color: #717171;
  font-size: 100%;
  margin: 0 0 5px 0;
}

.teachers-image-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  max-width: 96%;
}

.teachers-image-list li {
  display: inline-block;
  width: 14%;
  margin: 5% 2.8%;
}

.teachers-image-list li img{
    width: 100%; /* To make the images responsive */
    height: auto;
}

.teachers-image-list .details {
  margin-top: 10%;
}

.teachers-image-list .details h3 {
  display: block;
  font-size: 95%;
  margin: 0 0 6% 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.teachers-image-list .details .name {
  display: block;
  color: #717171;
  font-size: 100%;
  margin: 0 0 5px 0;
}

.teachers-image-list .details .email, .staff-image-list .details .email {
  display: block;
  color: #717171;
  font-size: 81%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Style rules for the School Times organized in a table*/
div.times {
	margin-left: 1%;
	color: black;
	padding: 10px;
}

div.times table {
	border: solid thin black;
	width: 80%;
	line-height: 170%;
	margin-left: 5%;
	border-collapse: collapse;
	color: f8f8ff;
}

div.times table h3 {
	font-size: 2em;
}

div.times table td {
	text-align: center;
	border: solid thin black;
}

div.times table th {
	border: solid thin black;
}

table caption {
	text-align: center;
}

table span {
	font-weight: bold;
}

div.times table tfoot {
	font-family: calibri;
	background-color: grey;
}

div.times table tr:nth-child(even) td {
	background-color: grey;
}

div.times ul li {
	font-family: helvetica;
	margin-top: 15px;
}

/* style rules for the calendar (on every page*/
/* style rules for the title: "School Calendar" */
#calendar h2 {
	text-align: center;
	padding-left: 6%;
	letter-spacing: 0.1em;
	white-space: nowrap;
}

/* style rules for the entire calendar */
#calendar {
	float: left;
	width: 260px;
	margin-bottom: 50px;
	/*border: solid thin red;*/
}

/* style rules for the calendar's 'previous' and 'next' buttons */
/* 'previous' button */
#prev {
	float: left;
}

/* 'next' button */
#next {
	float: right;
}

/* style rule to increase legibilty of previous button and next button*/
#prev, #next {
	font-size: 75%;
	font-weight: bold;
}

/* style rules for the name of each current month (e.g Jan, Feb, Mar) */
#calendar caption {
	font-size: 120%;
	background-color: #05418f;
	color: white;
}

/*style rules for days of the week */
#calendar table th {
	padding: 4px;
	width: 2em;
}

/* style rules to make Saturday and Sunday appear lighter than normal school days*/
th.weekend {
	font-weight: lighter;

}

/* style rules to position the dates of each month in each td cell */
#calendar table td {
	padding: 10px 0px 10px 0px;
	width: 2em;
	text-align: center;
}

/* hover style rule for the table cells of the calendar */
#calendar table td:hover {
	background-color: red;
}

article#application {
	float: right;
	width: 78%;
	margin-bottom: 10%;
	margin-right: 0.8%;
}

div#requirements table {
	border: solid thin black;
	line-height: 190%;
	border-collapse: collapse;
	color: f8f8ff;
	margin-top: 70px;
	font-family: helvetica;
	max-width: 99%;
}

div#requirements table td {
	text-align: center;
	border: solid thin black;
}

div#requirements table th {
	border: solid thin black;
	background-color: #05418f;
	color: white;
}

#requirements table tr:nth-child(odd) {background-color: #D9E1F2;}
#requirements table tr:nth-child(even) {background-color: #FFFFFF;}

div#requirements h2, div#apply h2 {
	font-family: helvetica;
	font-size: 215%;
	transform: scale(1, 1.5);
	letter-spacing: 1.5px;
	color: #05418f;
	word-spacing: 4px;
}

div#apply h2 {
	margin-top: 80px;
}

div#requirements h3 {
	font-family: arial;
	margin-top: 60px;
}

div#requirements p {
	color: red;
	font-family: helvetica;
	margin-top: 40px;
}

div#requirements ul li {
	list-style-type: square;
	font-family: helvetica;
	font-weight: 500;
}

div#requirements ul {
	padding: 0;
	margin-left: 2%;
}

div#requirements ol li {
	margin-top: 15px;
	list-style-type: decimal;
}

article li {
	margin-top: 2.5%;
}

article ol {
	line-height: 170%;
}

div#apply p {
	font-family: helvetica;
	margin-top: 70px;
	margin-bottom: 50px;
	font-weight: 600;
	font-size: 110%;
}

h4 {
	font-size: 130%;
	margin-top: 60px;
}

/* Style rules for upload section on applications page */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200display=swap'); /* A web link from where the fonts on the upload section are imported */

form {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  min-height: 30vh;
 
}

#upload {
  max-width: 600px;
  width: 100%;
  padding: 20px 60px 60px 30px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.NB {
	color: red;
}

.drag-area {
  height: 50px;
  border: 3px dashed grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.drag-area .icon {
	font-size: 115%;
	color: #1683ff;
	margin-left: 10px;
}

.drag-area .browsetext {
  font-size: 120%;
  font-weight: 500;
  color: #1683ff;
  margin-left: 10px;
  width: 50%;
}

.drag-area.active {
  border: 2px solid #1683ff;
}

input#Upload {
	margin-left: 8px;
}

input#Upload:hover {
	color: red;
}

div.formbuttons {
	margin-top: 50px;
}

#submit {
	float: right;
	font-size: 125%;
	color: black;
	font-family: helvetica;
	border: solid blue 2px;
}

#submit:hover {
	background-color: blue;
	color: white;
}

#reset {
	font-size: 125%;
	color: black;
	font-family: helvetica;
	border: solid blue 2px;
}

#reset:hover {
	background-color: blue;
	color: white;
}

.arrows {
	font-weight: bold;
	font-size: 120%;
	font-family: sans;
}

article h4, .SA, .NSA {
	display: none;
}

fieldset {
	border: ridge 5px red;
	width: 100%;
}

legend {
	font-size: 125%;
	background-color: black;
	color: white;
	border: solid 3px #03AE8A;
}

ul.calendardetail {
	list-style-type: none; 
	padding: 0;
}

div#calendar ul li {
	font-weight: bold;
	text-align: center;
}

article#newscontent {
	float: left;
	width: 61%;
	margin-bottom: 60px;
	margin-left: 20px;
	border-right: solid 1px #3d0c02;
}

article#newscontent h2 {
	text-align: center;
	color: #3d0c02;
	font-size: 230%;
	border-bottom: solid 2px #3d0c02;
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 30px;
	padding-bottom: 30px;
}

article#newscontent h3 {
	font-family: Trebuchet MS;
	margin-top: 70px;
}

article#newscontent p {
	font-family: arial;
	line-height: 170%;
	font-size: 100%;
	padding-right: 10px;
}

article#newscontent h2.academic {
	margin-top: 100px;
}

#newscontent h2.sports {
	margin-top: 90px;
}

.side {
	box-shadow: red 0px 16px 18px 0px;
	border: solid thin #ff0800;
	width: 190px;
}

.side h3 {
	font-family: Trebuchet MS;
	padding-left: 9px;
}

.side ul li {
	margin-top: 18px;
	font-family: arial;
	font-size: 90%;
}

#academic li a, #sports li a {
	text-decoration: none;
}

#academic li a:hover, #sports li a:hover {
	color: red;
}

p.athletics {
	margin-left: 30px;
	padding: 10px 0 0 0;
	font-weight: 500;
}

/* style rules for the footer section of all pages of the website */ 
footer {
	clear: both;
	background-color: #05418f;
	margin: 0px -8px -8px -8px;
}


footer div.rpsdetails {
	white-space: nowrap;
	color: white;
	letter-spacing: 0.1em;
	word-spacing: 0.3em;
	/*border: solid thin red;*/
}

div.labels p#loc, #mail, #tel {
	font-family: sans-serif;
	font-size: 150%;
	margin-left: 236px;
	display: inline-block;
	/*border: solid thin red;*/
}

div.labels p#mail {
	margin-left: 280px;
}

div.labels span {
	color: white;
	margin-left: 8%;
}

footer p#location, #email, #phone {
	font-family: sans-serif;
	font-weight: 500;
	display: inline-block;
	margin-top: -1px;
	margin-left: 150px;
	/*border: solid thin green;*/
}

footer p#email {
	margin-left: 118px;
	
}

footer p#phone {
	margin-left: 150px;
}

div.directions {
	background-color: #e5e4e2;
	text-align: center;
}

div.directions a {
	margin-right: 20px;
	color: black;
	font-family: helvetica;
}

div.directions a:hover {
	color:red;
}

span.rights {
	font-family: helvetica;
	float: left;
	padding-bottom: 1px;
	
}

span.design {
	float: right;
	font-family: helvetica;
}

/* Style rules for Gallery page */

.bgimg {
  background-image: url('comingsoon1.jpg');
  background-position: center;
  background-size: 100% 300%;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 160%;
}

.topleft {
  top: 0px;
  left: 16px;
}

.bottomleft {
  bottom: 0;
  left: 16px;
}

.middle {
  margin-top: 70px;
  left: 0%;
  text-align: center;
}

hr {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 40%;
}
